<config>
    <modules>
        <MattWellss_MageStache>
            <version>0.1.0</version>
        </MattWellss_MageStache>
    </modules>
    <global>
        <blocks>
            <magestache>
                <class>MattWellss_MageStache_Block</class>
            </magestache>
        </blocks>
        <helpers>
            <magestache>
                <class>MattWellss\MageStache\Helper</class>
            </magestache>
        </helpers>
        <cache>
            <types>
                <mustache translate="label,description">
                    <label>Mustache Template Tokens</label>
                    <description>Mustache Template token cache</description>
                    <tags>MUSTACHE_TOKENS</tags>
                </mustache>
            </types>
        </cache>
    </global>
</config>